# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Data and large files
host_software/ml_vision/data/01_bronze/
host_software/ml_vision/data/02_silver/
host_software/ml_vision/data/03_gold/
host_software/data_collection/data/
host_software/ml_audio/data/
*.csv
evaluation_results/

generated/
logs/

# Neural Network Weights and Logs
*.pt
*.onnx
*.xml
*.bin
host_software/ml_vision/models/platform_pose_model/
host_software/ml_vision/models/weights/
runs/
