# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Data and large files
ml_vision/data/video/*.mp4
ml_vision/data/video/*.avi
ml_vision/data/image/
*.csv
evaluation_results/

# Neural Network Weights and Logs
*.pt
*.onnx
ml_vision/models/platform_pose_model/
ml_vision/models/weights/
runs/
ball-balancing-bot/ball-balancing-bot
