opencv-contrib-python>=4.7.0
numpy
pandas
ultralytics
torch
torchvision
Pillow
scikit-learn
scipy
sounddevice
soundfile
pyyaml
requests
pyserial
matplotlib
albumentations
cocotb
fastmcp
google-genai
python-dotenv
resampy
onnxruntime
tf2onnx
onnx2torch
openvino
pillow-heif
